aiohttp
aiogram
psutil
feedparser
Pillow
python-dotenv
validators
python-Levenshtein
defusedxml
python-dateutil
yarl
colorama
beautifulsoup4
soupsieve
aiofiles
typing-extensions
pydantic
matplotlib
numpy
requests
python-telegram-bot
pytz
beautifulsoup4
Pillow
openai